.git
.gitignore
.DS_Store

node_modules/
out/
dist/
release/
coverage/

.env
.env.*
*.local
*.log
npm-debug.log*

Dockerfile*
docker-compose*.yml
.dockerignore

README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE
docs/
